@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #676565;
  border: 27px none #ffffff;
  border-radius: 62px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 26px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

}